@import '../../styles/mixins/themes.scss';

.app-theme-wrapper {
}

.app-container {
  @include themify() {
    color: theme('textColor');
    background-color: theme('backgroundColor');
  }
}

.app-theme-wrapper {
  height: 100%;
  overflow-y: auto;
}

.app-container {
  min-height: 100%;
}
