@import '../../../styles/mixins/ranks.scss';

.icon {
  display: inline-flex !important;
  margin: 0 !important;
  width: 18px !important;
  height: 18px !important;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bolder;
  border: 1px solid rgba(white, 0.2);
  margin: 0 6px 0 0 !important;

  &:after {
    position: absolute;
  }
}

:global(.inboxsdk__thread_row_label .inboxsdk__button_icon + .au) {
  width: 12px;
}

:global(.inboxsdk__thread_row_label .inboxsdk__button_icon + .au .av) {
  display: none;
}

.btn-rank-Aplus {
  background-color: rankColor('A+');
  &:after {
    color: rankFontColor('A+');
    content: 'A+';
  }
}

.btn-rank-A {
  background-color: rankColor('A');
  &:after {
    color: rankFontColor('A');
    content: 'A';
  }
}
.btn-rank-B {
  background-color: rankColor('B');
  &:after {
    color: rankFontColor('B');
    content: 'B';
  }
}
.btn-rank-C {
  background-color: rankColor('C');
  &:after {
    color: rankFontColor('C');
    content: 'C';
  }
}
.btn-rank-D {
  background-color: rankColor('D');
  &:after {
    color: rankFontColor('D');
    content: 'D';
  }
}
.btn-rank-E {
  background-color: rankColor('E');
  &:after {
    color: rankFontColor('E');
    content: 'E';
  }
}
.btn-rank-F {
  background-color: rankColor('F');
  &:after {
    color: rankFontColor('F');
    content: 'F';
  }
}
.btn-rank-unknown {
  opacity: 0.25;
  background-color: rankColor('unknown');
  &:after {
    color: rankFontColor('unknown');
    content: '-';
  }
}

.numeric {
  width: auto;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
}

.score-tooltip {
  width: 300px;
  font-size: 14px;
  padding: 10px 5px;

  max-width: calc(100vw - 200px);
  p:last-child {
    margin-bottom: 0;
  }
}

.scores {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
