@import '../../../../styles/common/colors.scss';
@import '../layout.module.scss';

.section {
  margin-bottom: 40px;
}

.form {
  max-width: 500px; // wide enough for licence key in monospace
}

.key {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
}

.key,
.licenceInput {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.page-section {
  @extend .section;
}

.toolbar-img {
  width: 250px;
  margin: 0 0 1em 35px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.55);
}

.popup-img {
  width: 450px;
}
