@import '../../../styles/common/colors.scss';
@import '../../../styles/common/themes.scss';

.input {
  border-radius: 5px;
  height: 42px;
  padding: 0 5px;
  margin-bottom: 0;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  outline: 0;
  border: 2px solid transparent;
  -webkit-appearance: none;
  max-width: 400px;

  @include themify() {
    background-color: theme('inputBackground');
    border-color: theme('inputBorder');
    color: theme('textColor');
  }

  &:focus {
    @include themify() {
      border-color: theme('inputBorderFocus');
    }
  }
}

.checkbox {
  display: none;

  + .checkbox-label:before {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0;
    top: 4px;
    border: 1px solid $color-highlight;
    background-color: white;
    border-radius: 3px;
    transition: border-color 200ms ease-in-out;
  }

  &:hover + .checkbox-label:before {
    border-color: lighten($color-highlight, 15%);
  }

  + .checkbox-label:after {
    content: '';
    color: $color-highlight;
    border: 3px solid;
    width: 7px;
    height: 15px;
    display: block;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 3px;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }

  &:checked + .checkbox-label:after {
    opacity: 1;
  }
}

.checkbox-label {
  display: block;
  padding-left: 24px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  user-select: none;
}
