@import '../../../styles/common/colors.scss';
@import '../../../styles/mixins/themes.scss';

$input-font-size: 18px;
$input-line-height: 26px;

.input-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.input {
  border-radius: 5px;
  height: 42px;
  padding: 0 5px;
  margin-bottom: 0;
  width: 100%;
  font-size: $input-font-size;
  line-height: $input-line-height;
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
  font-family: 'Roboto-Light';

  @include themify() {
    background-color: theme('inputBackground');
    border: 2px solid theme('inputBorder');
    color: theme('textColor');
  }

  &:focus {
    @include themify() {
      border-color: theme('inputBorderFocus');
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: no-drop;
  }
}

.input-label {
  font-size: 16px;
  opacity: 0.8;
  padding-left: 5px;
  display: block;
  margin-bottom: 5px;
}

.textarea {
  border-radius: 5px;
  margin-bottom: 0;
  width: 100%;
  font-size: $input-font-size;
  line-height: $input-line-height;
  box-sizing: border-box;
  outline: 0;
  padding: 5px;
  resize: vertical;
  min-height: 100px;
  font-family: 'Roboto-Light';

  @include themify() {
    background-color: theme('inputBackground');
    border: 2px solid theme('inputBorder');
    color: theme('textColor');
  }

  &:focus {
    @include themify() {
      border-color: theme('inputBorderFocus');
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: no-drop;
  }
}

.checkbox-wrapper {
  position: relative;
}

.checkbox {
  opacity: 0;
  position: absolute;

  + .checkbox-label:before {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0;
    top: 2px;
    border: 1px solid $color-highlight;

    @include themify() {
      border-color: theme('highlightColor');
    }

    background-color: white;
    border-radius: 3px;
    transition: border-color 200ms ease-in-out;
  }

  + .checkbox-label:after {
    content: '';
    @include themify() {
      color: theme('highlightColor');
    }
    border: 3px solid;
    width: 7px;
    height: 15px;
    display: block;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 1px;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }

  &:checked + .checkbox-label:after {
    opacity: 1;
  }
  &:focus + .checkbox-label {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:focus + .checkbox-label:before {
    @include themify() {
      border-color: theme('inputBorderFocus');
    }
  }
}

.checkbox-label {
  display: inline;
  padding-left: 24px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  user-select: none;
}

.form-notification {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin: 10px auto 0 auto;

  p {
    margin: 0;
  }
}

.form-error {
  @extend .form-notification;
  color: white;
  border: 1px solid darken($color-bg-error, 10%);
  background-color: $color-bg-error;
}

.form-success {
  @extend .form-notification;
  color: white;
  border: 1px solid darken($color-bg-success, 10%);
  background-color: $color-bg-success;
}

.input-group {
  display: flex;
  align-items: flex-end;

  input {
    width: auto;
    margin-right: 10px;
  }

  @media (max-width: 400px) {
    flex-direction: column;

    input {
      margin: 10px 0 0 0;
    }
  }
}
