@import '../../../styles/common/colors.scss';
@import '../../../styles/mixins/themes.scss';

.text-link {
  text-decoration: none;
  font-family: Roboto;
  cursor: pointer;

  @include themify() {
    color: theme('linkColor');
  }

  &:hover {
    text-decoration: underline;
  }
}
