@import '../../../styles/common/colors.scss';
@import '../../../styles/common/themes.scss';

.btn {
  @include themify() {
    background-color: theme('buttonBackground');
  }

  color: white;
  border: 0;
  border-radius: 5px;
  transition: box-shadow ease-in-out 150ms, transform ease-in-out 150ms,
    background-color ease-in-out 50ms;
  cursor: pointer;
  transform: translateY(0);
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  outline: none;

  &:hover {
    @include themify() {
      background-color: theme('buttonBackgroundHover');
    }
  }
  &:focus {
    @include themify() {
      background-color: theme('buttonBackgroundHover');
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: no-drop;
  }
}

.muted {
  @include themify() {
    background-color: transparent;
  }
}

.loading {
  pointer-events: none;

  .content {
    visibility: hidden;
  }
}

.pulse {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite;
  transform: scale(1);

  @include themify() {
    background-color: theme('buttonBackgroundPulseFrom');
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
    @include themify() {
      background-color: theme('buttonBackgroundPulseTo');
    }
  }
  100% {
    transform: scale(1);
  }
}
