@import '../../../styles/common/colors.scss';
@import '../../../styles/mixins/ranks.scss';
@import '../../../styles/mixins/themes.scss';

.score-container {
  padding: 1em 15px;
  @include themify() {
    background-color: theme('backgroundColorDropped');
  }
}

.email-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.75em;
  font-family: Roboto-Mono, monospace;
  font-size: 18px;
}

.desc {
  font-size: 18px;
}

.email-address-prefix,
.email-address-at {
  opacity: 0.55;
}

.score-item {
  margin-top: 0.5em;
  &:first-child {
    margin-top: 0;
  }
}

.value {
  font-size: 22px;
  margin-right: 10px;
  font-weight: 500;

  @include rating;

  [data-colorblind='true'] & {
    @include rating($colorblind: true);
  }
}

.desc {
}

.rank {
  margin: 0.75em 0 2em 0;
}

// .rank-value {
//   display: inline-block;
//   height: 40px;
//   width: 40px;
//   padding: 2px;
//   font-size: 18px;
//   line-height: 30px;
//   border-radius: 5px;
//   font-weight: 500;
//   text-align: center;
//   border: 2px solid rgba(0, 0, 0, 0.25);
//   @include ranking($useBg: true, $useFont: true);
// }

// .delta {
//   @include trend();
//   display: none;
// }

// .score {
//   font-size: 28px;
//   line-height: 30px;
//   position: relative;
//   top: 4px;
//   margin-left: 0.5em;

//   @include rankingFontColor;

//   &.colorblind {
//     @include rankingFontColor($colorblind: true);
//   }
// }
