@import '../../../styles/common/colors.scss';
@import '../../../styles/mixins/themes.scss';

.container {
  // height: 100%;
  padding: 40px;
  display: flex;
  max-width: 1000px;

  h1 {
    font-size: 28px;
    line-height: 36px;
  }
  h2 {
    font-size: 18px;
    line-height: 22px;
  }
}

.nav {
  width: 200px;
  list-style: none;
  font-size: 16px;
}

.nav-item {
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  margin: 0;

  &:hover {
    .nav-link {
      @include themify() {
        background-color: theme('navActiveBackground');
      }
    }
  }
}

.nav-link {
  @include themify() {
    color: theme('navColor');
  }

  display: block;
  padding: 0 10px;
  line-height: 32px;
  margin-bottom: 5px;
  border-left: 3px solid transparent;

  &.nav-active {
    @include themify() {
      background-color: theme('navActiveBackground');
      border-color: theme('highlightColor');
    }
  }
}

.content {
  flex: 1;
  margin-left: 50px;
  max-width: 800px;
  font-size: 16px;
}

.section {
  margin-bottom: 40px;
}
