@import '../../../styles/common/colors.scss';
@import '../../../styles/common/themes.scss';

.container {
  // height: 100%;
  padding: 40px;
  display: flex;
  max-width: 1000px;

  h1 {
    font-size: 28px;
    line-height: 36px;
  }
  h2 {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
}

.nav {
  width: 200px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.item {
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  margin: 0;

  &:hover {
    .link {
      @include themify() {
        background-color: theme('navActiveBackground');
      }
    }
  }
}

.link {
  @include themify() {
    color: theme('navColor');
  }

  display: block;
  padding: 0 10px;
  line-height: 32px;
  margin-bottom: 5px;
  border-left: 3px solid transparent;

  &.active {
    @include themify() {
      background-color: theme('navActiveBackground');
    }

    border-color: $color-highlight;
  }
}

.content {
  flex: 1;
  margin-left: 50px;
  max-width: 800px;
  font-size: 16px;
  a {
    text-decoration: none;
    font-family: Roboto;
    color: $button-background--light;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    border-radius: 5px;
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: -15px;
    top: -15px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: none;
  }
}
