@import '../../../styles/mixins/themes.scss';

.settings {
  fill: #9ca0a5;
  stroke: none;

  circle {
    @include themify() {
      fill: theme('backgroundColor');
    }
  }
}

.message {
  fill: none;
  stroke: #9ca0a5;
  position: relative;
  top: 1px;
}

.arrow {
  position: relative;
  top: 2px;
}
