@import '../../../styles/mixins/themes.scss';
@import '../../../styles/common/colors.scss';

.container {
  padding: 20px 20px 4px 2px;
}

.popup {
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  @include themify() {
    color: theme('textColor');
    background-color: theme('backgroundColor');
    border: 1px solid theme('inputBorder');
  }
}

.popup-head {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 0 15px;
  justify-content: flex-start;

  border-bottom: 1px solid $border-color;
}

.popup-actions {
  padding: 10px 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 140px auto;
  gap: 10px;
  @include themify() {
    border-bottom: 1px solid theme('inputBorder');
  }
}

.popup-options {
  padding: 10px 15px;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;

  a {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;

    @include themify() {
      color: rgba(theme('textColor'), 0.5);
      &:hover {
        color: rgba(theme('textColor'), 0.75);
      }
    }
  }

  li:first-child a {
    margin-left: 0;
  }
}
