@import '../layout.module.scss';

.page-section {
  @extend .section;
}

.example-img {
  width: 86%;
  margin: 0;
}

.toolbar-img {
  @extend .example-img;
  width: 100%;
  margin-top: -40px;
}

.popup-img {
  @extend .example-img;
}

.gmail-img {
  @extend .example-img;
}
