@import '../../../../styles/common/colors.scss';
@import '../../../../styles/mixins/themes.scss';
@import '../layout.module.scss';
@import '../../../components/button/button.module.scss';

.page-section {
  @extend .section;
}

.list {
  list-style: none;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include themify() {
    border-bottom: 1px solid theme('highlightColor');
  }
  padding: 10px 5px;
  margin-bottom: 10px;
}

.email {
}

.list-empty {
  font-style: italic;
  opacity: 0.8;
}

.help {
  opacity: 0.7;
  font-size: 12px;
  margin-left: 5px;
}

.help-text {
  p {
    opacity: 0.75;
  }
  img {
    width: 100%;
  }
}

.radios {
  margin-bottom: 20px;
}

.rank-radio {
  label {
    display: flex;
    flex-direction: column;
  }
}

.form-group {
  margin-bottom: 40px;
}

.test-btn {
  @extend .btn;
  overflow: hidden;
}

.progress-bar {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  animation-name: progress;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  @include themify() {
    background-color: darken(theme('buttonBackground'), 20%);
  }
}

.progress-text {
  z-index: 2;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
