@import '../../../../styles/common/colors.scss';
@import '../layout.module.scss';

.page-section {
  @extend .section;
}

.list {
  list-style: none;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include themify() {
    border-bottom: 1px solid theme('highlightColor');
  }
  padding: 10px 5px;
  margin-bottom: 10px;
}

.email {
}

.list-empty {
  font-style: italic;
  opacity: 0.8;
}

.help-text {
  // padding-left: 24px;
  padding-top: 20px;
  p {
    opacity: 0.75;
  }
  img {
    width: 100%;
  }
}

.rank-radio {
  label {
    display: flex;
    flex-direction: column;
  }
}
