$color-highlight: #5e4c98;
$color-highlight--dark: #9b7cff;
$color-bg-error: #e46662;
$color-bg-warning: #e6723c;
$color-bg-success: #1bc775;

// Shared
$border-color: rgba(#f1f1f1, 0.25);

// --- Themes ---
// light
$background--light: #ffffff;
$background--lightish: #f3f4f5;
$text--light: #353739;
$nav-active-background--light: #f1f1f1;
$nav-text--light: #606367;
$input-background--light: #ffffff;
$input-border-color--light: #e5e5e5;
$input-border-focus--light: #1d1e26;
$button-background--light: $color-highlight;
$button-pulse-from--light: lighten($color-highlight, 30%);
$button-pulse-to--light: lighten($color-highlight, 10%);
$link-color--light: $color-highlight;
$content-background--light: rgba(0, 0, 0, 0.035);

// dark
$background--dark: #323639;
$background--darker: #292a2d;
$text--dark: #efefef;
$nav-active-background--dark: #4b4b4b;
$nav-text--dark: #dbdcdc;
$input-background--dark: #292b36;
$input-border-color--dark: #2d3033;
$input-border-focus--dark: #e7e7e7;
$button-background--dark: $button-background--light;
$button-pulse-from--dark: $button-pulse-from--light;
$button-pulse-to--dark: $button-pulse-to--light;
$link-color--dark: $color-highlight--dark;
$content-background--dark: rgba(0, 0, 0, 0.15);
