$color-highlight: #5e4c98;
$color-bg-error: #f1645f;

// Themes
$background--light: #ffffff;
$text--light: #353739;
$nav-active-background--light: #f1f1f1;
$nav-text--light: #606367;
$input-background--light: #ffffff;
$button-background--light: #5e4c98;

$background--dark: #323639;
$background--darker: #292a2d;
$text--dark: #efefef;
$nav-active-background--dark: #4b4b4b;
$nav-text--dark: #dbdcdc;
$input-background--dark: #292b36;
$button-background--dark: #1d1e26;
