$color-primary: #152347;
$color-highlight: #5e4c98;
$color-lowlight: #0f1832;

$color-dark-bg: #292b36;
$color-extra-dark-bg: #1d1e26;

$color-grey-light: #f1f1f1;
$color-grey-dark: #606367;

$color-font-dark: #353739;
$color-font-light: #efefef;
