@import '../../../../styles/common/colors.scss';
@import '../layout.module.scss';

.section {
  margin-bottom: 40px;
}

.account-page h2.subtitle {
  margin: 3rem 0 2rem 0;
  font-size: 22px;
}

.form {
  max-width: 500px; // wide enough for licence key in monospace
}

.key {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
}

.key,
.licenceInput {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.page-section {
  @extend .section;
}

.btn-group {
  display: grid;
  margin-top: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
