@import '../../../../styles/common/colors.scss';
@import '../layout.module.scss';

.page-section {
  @extend .section;
}

.colors {
  display: block;
  padding-bottom: 25px;
}

.ranks {
  display: flex;
  position: relative;
}

.rank {
  margin-right: 10px;
}

.dark-mode {
  display: flex;

  h2 {
    margin-left: 5px;
  }
}

.desc {
  display: block;
  position: absolute;
  margin-top: 0.5em;
}
