$normal-scale: (
  F: #da5d56,
  E: #f6a37c,
  D: #fee08b,
  C: #ffffbf,
  B: #d9ef8b,
  A: #91cf60,
  'A+': #1a9850
);

$colorblind-scale: (
  F: #f86d39,
  E: #d89139,
  D: #b9a439,
  C: #a7a7a7,
  B: #bf9abf,
  A: #39b0d8,
  'A+': #00aa55
);

$rating-scale: (
  low: map-get($normal-scale, 'A+'),
  medium: #f59841,
  high: #ec6d62
);

@mixin ranking($colorblind: false) {
  @if $colorblind {
    &[data-rank='A+'] {
      background-color: map-get($colorblind-scale, 'A+');
      color: lighten(map-get($colorblind-scale, 'A'), 75%);
    }
    &[data-rank='A'] {
      background-color: map-get($colorblind-scale, 'A');
      color: darken(map-get($colorblind-scale, 'A'), 50%);
    }
    &[data-rank='B'] {
      background-color: map-get($colorblind-scale, 'B');
      color: darken(map-get($colorblind-scale, 'B'), 65%);
    }
    &[data-rank='C'] {
      background-color: map-get($colorblind-scale, 'C');
      color: darken(map-get($colorblind-scale, 'C'), 75%);
    }
    &[data-rank='D'] {
      background-color: map-get($colorblind-scale, 'D');
      color: darken(map-get($colorblind-scale, 'D'), 75%);
    }
    &[data-rank='E'] {
      background-color: map-get($colorblind-scale, 'E');
      color: darken(map-get($colorblind-scale, 'E'), 55%);
    }
    &[data-rank='F'] {
      background-color: map-get($colorblind-scale, 'F');
      color: lighten(map-get($colorblind-scale, 'F'), 85%);
    }
    &[data-rank='unknown'] {
      opacity: 0.25;
      background-color: rgb(241, 239, 239);
      &:after {
        content: '-';
      }
    }
  } @else {
    &[data-rank='A+'] {
      background-color: map-get($normal-scale, 'A+');
      color: lighten(map-get($normal-scale, 'A'), 75%);
    }
    &[data-rank='A'] {
      background-color: map-get($normal-scale, 'A');
      color: darken(map-get($normal-scale, 'A'), 50%);
    }
    &[data-rank='B'] {
      background-color: map-get($normal-scale, 'B');
      color: darken(map-get($normal-scale, 'B'), 65%);
    }
    &[data-rank='C'] {
      background-color: map-get($normal-scale, 'C');
      color: darken(map-get($normal-scale, 'C'), 75%);
    }
    &[data-rank='D'] {
      background-color: map-get($normal-scale, 'D');
      color: darken(map-get($normal-scale, 'D'), 75%);
    }
    &[data-rank='E'] {
      background-color: map-get($normal-scale, 'E');
      color: darken(map-get($normal-scale, 'E'), 55%);
    }
    &[data-rank='F'] {
      background-color: map-get($normal-scale, 'F');
      color: lighten(map-get($normal-scale, 'F'), 85%);
    }
    &[data-rank='unknown'] {
      opacity: 0.25;
      background-color: rgb(241, 239, 239);
      &:after {
        content: '-';
      }
    }
  }
}
