$unknown-color: rgb(241, 239, 239);
$normal-scale: (
  F: #da5d56,
  E: #f6a37c,
  D: #fee08b,
  C: #ffffbf,
  B: #d9ef8b,
  A: #91cf60,
  'A+': #1a9850
);

$colorblind-scale: (
  F: #f86d39,
  E: #d89139,
  D: #b9a439,
  C: #a7a7a7,
  B: #bf9abf,
  A: #39b0d8,
  'A+': #00aa55
);

$rating-scale: (
  low: map-get($normal-scale, 'A+'),
  medium: #f59841,
  high: #ec6d62
);

$colorblind-rating-scale: (
  low: map-get($colorblind-scale, 'A+'),
  medium: map-get($colorblind-scale, 'E'),
  high: map-get($colorblind-scale, 'F')
);

@function rankColor($rank, $colorblind: false) {
  @if $rank == 'unknown' {
    @return $unknown-color;
  }
  @if $colorblind {
    @return map-get($colorblind-scale, $rank);
  }
  @return map-get($normal-scale, $rank);
}

@function rankFontColor($rank, $colorblind: false) {
  $scale: $normal-scale;

  @if $colorblind {
    @return black;
  }

  @if $rank == 'A+' {
    @return lighten(map-get($scale, 'A'), 75%);
  }
  @if $rank == 'A' {
    @return darken(map-get($scale, 'A'), 50%);
  }
  @if $rank == 'B' {
    @return darken(map-get($scale, 'B'), 65%);
  }
  @if $rank == 'C' {
    @return darken(map-get($scale, 'C'), 75%);
  }
  @if $rank == 'D' {
    @return darken(map-get($scale, 'D'), 75%);
  }
  @if $rank == 'E' {
    @return darken(map-get($scale, 'E'), 55%);
  }
  @return black;
}

@function ratingColor($rating, $colorblind: false) {
  @if $colorblind {
    @return map-get($colorblind-rating-scale, $rating);
  }
  @return map-get($rating-scale, $rating);
}

@mixin rating($colorblind: false) {
  $scale: $rating-scale;

  @if $colorblind {
    $scale: $colorblind-rating-scale;
  }

  @each $rating, $color in $scale {
    &[data-rating='#{$rating}'] {
      color: $color;
    }
  }
}
@mixin trend($colorblind: false) {
  display: inline-block;
  width: 10px;
  height: 15px;
  border: 10px solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  margin: 0 10px;

  &[data-trend='up'] {
    border-bottom-color: ratingColor('low', $colorblind);
  }

  &[data-trend='down'] {
    border-top-color: ratingColor('high', $colorblind);
  }
}

@mixin rankingFontColor($colorblind: false) {
  $scale: $normal-scale;

  @if $colorblind {
    $scale: $colorblind-scale;
  }

  @each $rank, $color in $scale {
    &[data-rank='#{$rank}'] {
      color: $color;
    }
  }
}

@mixin ranking($useBg: true, $useFont: true, $colorblind: false) {
  $scale: $normal-scale;
  @if $colorblind {
    $scale: $colorblind-scale;
  }
  @if $useBg {
    &[data-rank='A+'] {
      background-color: map-get($scale, 'A+');
    }
    &[data-rank='A'] {
      background-color: map-get($scale, 'A');
    }
    &[data-rank='B'] {
      background-color: map-get($scale, 'B');
    }
    &[data-rank='C'] {
      background-color: map-get($scale, 'C');
    }
    &[data-rank='D'] {
      background-color: map-get($scale, 'D');
    }
    &[data-rank='E'] {
      background-color: map-get($scale, 'E');
    }
    &[data-rank='F'] {
      background-color: map-get($scale, 'F');
    }
    &[data-rank='unknown'] {
      opacity: 0.25;
      background-color: $unknown-color;
      &:after {
        content: '-';
      }
    }
  }
  @if $useFont {
    &[data-rank='A+'] {
      color: black;
      // color: lighten(map-get($scale, 'A'), 75%);
    }
    &[data-rank='A'] {
      color: darken(map-get($scale, 'A'), 50%);
    }
    &[data-rank='B'] {
      color: darken(map-get($scale, 'B'), 65%);
    }
    &[data-rank='C'] {
      color: darken(map-get($scale, 'C'), 75%);
    }
    &[data-rank='D'] {
      color: darken(map-get($scale, 'D'), 75%);
    }
    &[data-rank='E'] {
      color: darken(map-get($scale, 'E'), 55%);
    }
    &[data-rank='F'] {
      color: black;
      // color: lighten(map-get($scale, 'F'), 85%);
    }
    &[data-rank='unknown'] {
      opacity: 0.25;
      &:after {
        content: '-';
      }
    }
  }
}
