@import '../common/colors.scss';

$themes: (
  light: (
    backgroundColor: $background--light,
    backgroundColorDropped: $background--lightish,
    textColor: $text--light,
    highlightColor: $color-highlight,
    navColor: $nav-text--light,
    navActiveBackground: $nav-active-background--light,
    inputBackground: $input-background--light,
    inputBorder: $input-border-color--light,
    inputBorderFocus: $input-border-focus--light,
    buttonBackground: $button-background--light,
    buttonBackgroundHover: darken($button-background--light, 5%),
    buttonBackgroundPulseFrom: $button-pulse-from--light,
    buttonBackgroundPulseTo: $button-pulse-to--light,
    linkColor: $link-color--light,
    contentBackground: $content-background--light
  ),
  dark: (
    backgroundColor: $background--dark,
    backgroundColorDropped: $background--darker,
    textColor: $text--dark,
    highlightColor: $color-highlight--dark,
    navColor: $nav-text--dark,
    navActiveBackground: $nav-active-background--dark,
    inputBackground: $input-background--dark,
    inputBorder: $input-border-color--dark,
    inputBorderFocus: $input-border-focus--dark,
    buttonBackground: $button-background--dark,
    buttonBackgroundHover: darken($button-background--dark, 5%),
    buttonBackgroundPulseFrom: $button-pulse-from--dark,
    buttonBackgroundPulseTo: $button-pulse-to--dark,
    linkColor: $link-color--dark,
    contentBackground: $content-background--dark
  )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    [data-color-theme='#{$theme}'] & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
