.footer {
  background-color: #333639;
  height: 30px;
  padding: 0 20px;
}

.options {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;

  li {
    padding-left: 10px;
  }
}
