@import '../../../styles/mixins/themes.scss';

.footer {
  height: 30px;
  padding: 0 20px;

  @include themify() {
    background-color: theme('backgroundColor');
  }
}

.options {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;

  li {
    padding-left: 10px;
  }
}
