@import '../../styles/mixins/themes.scss';

.popup {
  min-width: 320px;

  @include themify() {
    border: 1px solid theme('inputBorder');
    color: theme('textColor');
    background-color: theme('backgroundColor');
  }
}
