@import '../../styles/mixins/themes.scss';

.popup {
  min-width: 320px;
  max-width: 320px;
  min-height: 30px;

  @include themify() {
    border: 1px solid theme('inputBorder');
    color: theme('textColor');
    background-color: theme('backgroundColor');
  }
}

.inner {
  padding: 10px;

  p {
    margin: 0;
  }
}
