@import '../../../styles/common/colors.scss';
@import '../../../styles/mixins/themes.scss';

.domain-score {
  @include themify() {
    background-color: theme('backgroundColor');
  }

  @include themify() {
    border-top: 1px solid theme('inputBorder');
  }

  h2 {
    padding: 10px 15px;
  }
}

.loading {
}

.content {
  @include themify() {
    background-color: theme('backgroundColorDropped');
  }
  ul {
    list-style: none;
  }
}

.empty {
  padding: 15px 20px;
}

.title {
  font-size: 18px;
  margin-left: 0.5em;
}
