@import '../../../styles/common/colors.scss';
@import '../../../styles/mixins/themes.scss';

.domain-score {
  @include themify() {
    background-color: theme('backgroundColor');
  }

  h2 {
    padding: 10px 15px;
  }
}

.loading {
}

.content {
  min-height: 150px;
  @include themify() {
    background-color: theme('backgroundColorDropped');
  }

  ul {
    list-style: none;
  }
}

.empty {
  padding: 15px 20px;
}

.title {
  font-size: 18px;
  margin-left: 0.5em;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid $color-highlight;
  border-top-color: transparent;
  border-radius: 50%;
  animation-name: spin;
  animation: spin 1s linear 0ms infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
